@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  25% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loading-image {
  animation: spin 2s linear infinite;
}
.ltrDiraction {
  direction: ltr !important;
  text-align: right !important;
}
