@tailwind base;
@tailwind components;
@tailwind utilities;
/* Example for importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

* {
  box-sizing: border-box;

  /* Add this line */
  font-family: "Cairo", sans-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  25% {
    transform: -rotate(40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loading-image {
  animation: spin 2s linear infinite;
}
